.container {
  padding: 0 2rem;
  
}

.bg{
  z-index: -1;
}

.nightLandingPage{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.quote{
  color: #fff;
  font-style: italic;
 
}

.startBtn{
  width: 250px;
  height: 50px;
  background-color: #4F378B;
  margin-top: 30px;
}


